@import "variables"

@font-face
  font-family 'panda'
  src url(icomoon-font-path + '/panda.eot?6zqx9k')
  src url(icomoon-font-path + '/panda.eot?6zqx9k#iefix') format('embedded-opentype'), url(icomoon-font-path + '/panda.ttf?6zqx9k') format('truetype'), url(icomoon-font-path + '/panda.woff?6zqx9k') format('woff'), url(icomoon-font-path + '/panda.svg?6zqx9k#panda') format('svg')
  font-weight normal
  font-style normal
  font-display block

.panda-icon
  font-family 'panda' !important
  speak never
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.panda-icon-panda-icon-come
  &:before
    content panda-icon-panda-icon-come  
    color #8a92a5
.panda-icon-panda-icon-cancel
  &:before
    content panda-icon-panda-icon-cancel  
    color #8a92a5
.panda-icon-panda-icon-shezhi-erji
  &:before
    content panda-icon-panda-icon-shezhi-erji  
    color #8a92a5
.panda-icon-panda-icon-zi-guanli
  &:before
    content panda-icon-panda-icon-zi-guanli  
    color #8a92a5
.panda-icon-panda-icon-ip
  &:before
    content panda-icon-panda-icon-ip  
    color #8a92a5
.panda-icon-delete
  &:before
    content panda-icon-delete  
    color #8a92a5
.panda-icon-bian-ji
  &:before
    content panda-icon-bian-ji  
    color #8a92a5
.panda-icon-caiwu-zhongxin
  &:before
    content panda-icon-caiwu-zhongxin  
    color #8a92a5
.panda-icon-cha-kan
  &:before
    content panda-icon-cha-kan  
    color #8a92a5
.panda-icon-cha-zhao
  &:before
    content panda-icon-cha-zhao  
    color #7d87a5
.panda-icon-deng-chu
  &:before
    content panda-icon-deng-chu  
    color #3c4551
.panda-icon-fu-zhi-key
  &:before
    content panda-icon-fu-zhi-key  
    color #8a92a5
.panda-icon-gon-gao
  &:before
    content panda-icon-gon-gao  
    color #3263ff
.panda-icon-gong-gao
  &:before
    content panda-icon-gong-gao  
    color #8a92a5
.panda-icon-mi-ma
  &:before
    content panda-icon-mi-ma  
    color #3c4551
.panda-icon-qu-chu
  &:before
    content panda-icon-qu-chu  
    color #e25a50
.panda-icon-ri-li
  &:before
    content panda-icon-ri-li  
    color #b4bbcb
.panda-icon-rili-zujian-nianfen
  &:before
    content panda-icon-rili-zujian-nianfen
.panda-icon-shaixuan-yu-biaoge-neixiala
  &:before
    content panda-icon-shaixuan-yu-biaoge-neixiala  
    color #bfbfbf
.panda-icon-shangchuan-wenjian
  &:before
    content panda-icon-shangchuan-wenjian  
    color #8a92a5
.panda-icon-shang-hu
  &:before
    content panda-icon-shang-hu  
    color #8a92a5
.panda-icon-she-zhi
  &:before
    content panda-icon-she-zhi  
    color #8a92a5
.panda-icon-shezhi-guanliyuan
  &:before
    content panda-icon-shezhi-guanliyuan  
    color #8a92a5
.panda-icon-shijianzujian-fenzhongxuanze
  &:before
    content panda-icon-shijianzujian-fenzhongxuanze
.panda-icon-shijian-zujian-shanchu
  &:before
    content panda-icon-shijian-zujian-shanchu
.panda-icon-shijian-zujian-yuefen
  &:before
    content panda-icon-shijian-zujian-yuefen
.panda-icon-shu-ju
  &:before
    content panda-icon-shu-ju  
    color #8a92a5
.panda-icon-shuju-zhongxin
  &:before
    content panda-icon-shuju-zhongxin  
    color #8a92a5
.panda-icon-xia-la
  &:before
    content panda-icon-xia-la  
    color #8a92a5
.panda-icon-xiao-xi
  &:before
    content panda-icon-xiao-xi  
    color #8a92a5
.panda-icon-xia-zai
  &:before
    content panda-icon-xia-zai  
    color #8a92a5
.panda-icon-yong-hu .path1
  &:before
    content: panda-icon-yong-hu-path1  
    color rgb(250, 250, 250)
.panda-icon-yong-hu .path2
  &:before
    content: panda-icon-yong-hu-path2  
    margin-left -1em  
    color rgb(240, 240, 240)
.panda-icon-yong-hu .path3
  &:before
    content: panda-icon-yong-hu-path3  
    margin-left -1em  
    color rgb(216, 216, 216)
.panda-icon-yong-hu .path4
  &:before
    content: panda-icon-yong-hu-path4  
    margin-left -1em  
    color rgb(216, 216, 216)
.panda-icon-zhan-kai
  &:before
    content panda-icon-zhan-kai  
    color #8a92a5
.panda-icon-zhankai-beifen
  &:before
    content panda-icon-zhankai-beifen  
    color #3263ff
.panda-icon-zhudanxiangqing-shu
  &:before
    content panda-icon-zhudanxiangqing-shu  
    color #6dd400
.panda-icon-zhudanxiangqing-ying
  &:before
    content panda-icon-zhudanxiangqing-ying  
    color #ff3a3a

