icomoon-font-path ?= "fonts"

panda-icon-panda-icon-come = "\e924"
panda-icon-panda-icon-cancel = "\e925"
panda-icon-panda-icon-shezhi-erji = "\e922"
panda-icon-panda-icon-zi-guanli = "\e923"
panda-icon-panda-icon-ip = "\e926"
panda-icon-delete = "\e921"
panda-icon-bian-ji = "\e920"
panda-icon-caiwu-zhongxin = "\e900"
panda-icon-cha-kan = "\e901"
panda-icon-cha-zhao = "\e902"
panda-icon-deng-chu = "\e903"
panda-icon-fu-zhi-key = "\e904"
panda-icon-gon-gao = "\e905"
panda-icon-gong-gao = "\e906"
panda-icon-mi-ma = "\e907"
panda-icon-qu-chu = "\e908"
panda-icon-ri-li = "\e909"
panda-icon-rili-zujian-nianfen = "\e90a"
panda-icon-shaixuan-yu-biaoge-neixiala = "\e90b"
panda-icon-shangchuan-wenjian = "\e90c"
panda-icon-shang-hu = "\e90d"
panda-icon-she-zhi = "\e90e"
panda-icon-shezhi-guanliyuan = "\e90f"
panda-icon-shijianzujian-fenzhongxuanze = "\e910"
panda-icon-shijian-zujian-shanchu = "\e911"
panda-icon-shijian-zujian-yuefen = "\e912"
panda-icon-shu-ju = "\e913"
panda-icon-shuju-zhongxin = "\e914"
panda-icon-xia-la = "\e915"
panda-icon-xiao-xi = "\e916"
panda-icon-xia-zai = "\e917"
panda-icon-yong-hu-path1 = "\e918"
panda-icon-yong-hu-path2 = "\e919"
panda-icon-yong-hu-path3 = "\e91a"
panda-icon-yong-hu-path4 = "\e91b"
panda-icon-zhan-kai = "\e91c"
panda-icon-zhankai-beifen = "\e91d"
panda-icon-zhudanxiangqing-shu = "\e91e"
panda-icon-zhudanxiangqing-ying = "\e91f"

