/* 
* 当前文件内的 样式 主要是对应 quasar 本身没有的 但是常用的 做补充
  #height  arguments 
*/

line-height-mixin()
  line-height  arguments 

.line-height-16px
  line-height-mixin  16px

.line-height-20px
  line-height-mixin  20px
.line-height-24px
  line-height-mixin  24px
.line-height-30px
  line-height-mixin  30px
.line-height-32px
  line-height-mixin  32px
.line-height-33px
  line-height-mixin  33px 
.line-height-34px
  line-height-mixin  34px
.line-height-36px
  line-height-mixin  36px !important
.line-height-38px
  line-height-mixin  38px
.line-height-40px
  line-height-mixin  40px  
.line-height-45px
  line-height-mixin  45px
.line-height-60px
  line-height-mixin  60px

height-mixin()
  height arguments 

.height-20px 
  height-mixin 20px

.height-24px 
  height-mixin 24px

.height-28x 
  height-mixin 28px

.height-30px 
  height-mixin 30px

.height-32px 
  height-mixin 32px

.height-34px 
  height-mixin 34px

.height-36px 
  height-mixin 36px

.height-40px 
  height-mixin 40px
  
.height-60px 
  height-mixin 60px

.height-80px 
  height-mixin 80px

.border-radius-2px
  border-radius  2px

.border-radius-4px
  border-radius  4px

.border-radius-10px
  border-radius  10px

.border-box
  box-sizing border-box;

.d-flex
  display flex !important

.just-center 
  justify-content: center

.just-between
  justify-content: space-between

.just-around
  justify-content: space-around      

.d-none
  display none !important

.d-block
  display block !important

.d-inner-block
  display inline-block

.mr-10
  margin-right 10px  

.mt-10
  margin-top 10px

.position-absolute
  position absolute 

.position-relative
  position relative

.position-flxed 
  position fixed
//盒模型
.dib
  display inline-block
// 浮动


.w-60
  width 60px

.w-80
  width 80px

.w-90
  width 90px

.w-100
  width 100px

.w-120
  width 120px


.w-130
  width 130px

.w-140
  width 140px

.w-150
  width 150px

.w-160
  width 160px

.w-170
  width 170px

.w-180
  width 180px

.w-190
  width 190px

.w-200
  width 200px

.w-220
  width 220px

.w-240
  width 240px

.w-280
  width 280px

.w-300
  width 300px

.w-542
  width 542px

.w-600
  width 600px

//字体大小
.fs12
  font-size 12px
.fs13
  font-size 13px
.fs14
  font-size 14px
.fs15
  font-size 15px
.fs16
  font-size 16px
.fs18
  font-size 18px
.fs20
  font-size 20px

.fw_600
  font-weight 600

.fw_normal
  font-weight normal

// 左边距
.ml10
  margin-left 10px

.ml1x
  margin-left: 1px

.ml5x
  margin-left 5px

.ml6x
  margin-left 6px

.ml8x
  margin-left 8px

.ml10x
  margin-left 10px

.ml12x
  margin-left 12px

.ml14x
  margin-left 14px  

.ml15x
  margin-left 15px   

.ml20x
  margin-left 20px

.ml22x
  margin-left 22px

.ml24x
  margin-left 24px

.ml25x
  margin-left 25px

.ml30x
  margin-left 30px

.ml31x
  margin-left: 31px

.ml33x
  margin-left: 33px

.ml35x
  margin-left: 35px


.ml80x
  margin-left: 80px

.ml40x
  margin-left 40px

.ml45x
  margin-left 45px

.ml50x
  margin-left 50px

.ml55x
  margin-left 55px

.ml60x
  margin-left 60px

.ml65x
  margin-left 65px

.ml78x
  margin-left 78px

.ml138x
  margin-left: 138px

.rml5x
  margin-left: -5px

.rml35x
  margin-left -35px

.rml108x
  margin-left: -108px
// 右边距
.mr1x
  margin-right 1px

.mr4x
  margin-right 4px

.mr5x
  margin-right 5px 

.mr8x
  margin-right 8px

.mr10x
  margin-right 10px  

.mr15x
  margin-right 15px

.mr20x
  margin-right 20px

.mr22x
  margin-right 22px

.mr30x
  margin-right 30px

.mr40x
  margin-right 40px

.mr78x
  margin-right 78px

// 上边距
.mt1x
  margin-top 1px

.mt5x
  margin-top 5px

.mt6x
  margin-top 6px

.mt7x
  margin-top 7px

.mt9x
  margin-top 9px

.mt10x
  margin-top 10px

.mt12x
  margin-top 12px

.mt15x
  margin-top 15px

.mt20x 
  margin-top 20px

.mt28x 
  margin-top 28px

.mt30x 
  margin-top 30px

.mt34x
  margin-top 34px

.mt40x 
  margin-top 40px

.mt45x
  margin-top 45px

.mt50x
  margin-top 50px


.mt55x
  margin-top 55px


.mt85x
  margin-top 85px


// 下边距
.mb1x
  margin-bottom 1px

.mb5x
  margin-bottom 5px

.mb6x
  margin-bottom 6px

.mb7x
  margin-bottom 7px

.mb9x
  margin-bottom 9px

.mb10x
  margin-bottom 10px

.mb12x
  margin-bottom 12px

.mb15x
  margin-bottom 15px

.mb20x
  margin-bottom 20px

.mb40x
  margin-bottom 40px

.mb70x
  margin-bottom 70px

// 全margin
.mall
  margin: 10px;

// 内上边距
.pt0x
  padding-top 0px

.pt5x
  padding-top 5px

.pt10x
  padding-top 10px

.pt15x
  padding-top 15px

.pt20x
  padding-top 20px

.pt23x
  padding-top 23px

.pt25x
  padding-top 25px

.pt30x
  padding-top 30px

.pt50x
  padding-top 50px

.pl100x
  padding-left 100px

// 内左边距
.p1x
  padding-left 1px

.pl0x
  padding-left 0

.pl4x
  padding-left 4px

.pl6x
  padding-left 6px

.pl8x
  padding-left 8px

.pl10x
  padding-left 10px

.pl18x
  padding-left 18px

.pl20x
  padding-left 20px

.pl30x
  padding-left 30px

.pl40x
  padding-left 40px

.pl50x
  padding-left 50px

// 内下边距
.pb5x
  padding-bottom 5px

.pb10x
  padding-bottom 10px

.pb15x
  padding-bottom 15px

.pb20x
  padding-bottom 20px

.pb25x
  padding-bottom 25px

.pb30x
  padding-bottom 30px

.pb40x
  padding-bottom 40px
// 内右边距

.pr10x
  padding-right 10px

.pl18x
  padding-left 18px

.pr20x
  padding-right 20px

.pr40x
  padding-right 40px



// 宽度
.w30x
  width 30px 

.w32x
  width 32px 

.w40x
  width 40px

.w50x
  width 50px

.w60x
  width 60px  
  
.w70x
  width 70px

.w78x
  width 78px

.w80x
  width 80px

.w110x
  width 110px

.w128x
  width 128px

.w150x
  width 150px
.w180x
  width 180px

.w200x
  width 200px
.w240x
  width 240px
.w300x
  width 300px

.w500x
  width 500px  

