/*
* 当前文件内的 样式 主要是对应 panda 项目 表格 样式 封装
*/

.q-table--horizontal-separator thead, .q-table--horizontal-separator tbody tr:not(:last-child) td
  border-right-width 1px


.panda-table
  border-color $panda-table-border
// 滑动右侧不分离
.q-table
  border-collapse separate
.q-table thead, .q-table tr.panda-table, .q-table tr.panda-table th, .q-table td.panda-table
  border none
  border-bottom: 1px solid $panda-table-border;
  // border-right: 1px solid $panda-table-border;
.q-table tr.panda-table:first-child th
  border-top 1px solid $panda-table-border
  &:first-child
    border-left 1px solid $panda-table-border
.q-table thead th.panda-table
  border-left none
  border-top 1px solid $panda-table-border
  border-bottom 1px solid $panda-table-border
  border-right  1px solid $panda-table-border
.q-table thead th.panda-table:first-child
  border-left 1px solid $panda-table-border
.q-table td.panda-table:first-child
  border-left 1px solid $panda-table-border
.q-table th.panda-table:first-child
  border-left 1px solid $panda-table-border
.q-table tbody tr:hover
  background: $panda-dark-light !important

.panda-table-tr-like:hover
  background: $panda-dark-light !important

.panda-border table
  border: 1px solid $panda-table-border;
.panda-border-color
  border-color $panda-table-border

// 表格父级元素的内边距和颜色
.panda-table-father
  padding 20px 20px 0 20px
  background-color $panda-dark-dark

.panda-table-container
  width 100%
  margin 0 auto
  box-shadow 0 1px 2px 0 rgba(36,93,87,0.20)
  
.panda-table-col-checkbox
  width: 30px;
  text-align: center;
  padding: 0
.panda-table-col-text-indent
  text-indent  8px





.panda-sticky-header-table
  /*
    specifying max-width so the example can
    highlight the sticky column on any browser window
  */
  max-width 100%
  /* max height is important */
  .q-table__middle
    max-height 400px
  thead
    border-top  none !important;
  thead tr
    border-top   none !important;
  .q-table__top,
  tr:first-child th /* bg color is important for th; just specify one */
    background-color #fff;
    color $panda-text-dark
    font-weight bold
    text-indent 1.5em
  tr:first-child th
    position sticky
    top 0
    opacity 1 /* opacity is important */
    z-index 2 /* higher than z-index for td below */
  /*
  tr:first-child th:first-child
    z-index 3
  */
  td:first-child
    z-index 1
  td:first-child, th:first-child
    position sticky
    left 0


.panda-markup-table
  .q-table
    thead tr,tbody td
      height  48px
      line-height  48px
    td,th
      border-right   1px solid $panda-table-border
      border-bottom  1px solid $panda-table-border
      padding: 0px 16px;
    thead
      border-top    1px solid $panda-table-border
    td:first-child, th:first-child
      border-left   1px solid $panda-table-border

.panda-markup-table-border-transparent
  .q-table
    border-color transparent
    thead
      border-color transparent
    thead tr,tbody td
      border  transparent
      height  30px
      line-height  30px
    td,th
      border-right   1px solid transparent
      border-bottom  1px solid transparent
      padding: 0px 16px;
    thead
      border-top    1px solid transparent
    td:first-child, th:first-child
      border-left   1px solid transparent
// 赛事投注统计-玩法投注统计 专属样式
.expanded-down 
  td, th
    background-color:white;
    padding:5px !important;
    color: #3C4551 !important;

 // 注单投注查询样式
.parent-table-open
  td
    border: 1px solid #e8e8e8 !important;
    padding: 5px 0px !important;
  th
  // .ant-table-body-inner
  //   max-height: 640px !important;
  // .ant-table-body
  //   max-height: 640px !important;

// 表格样式
.full-content 
  // 存表格
  .ant-table-tbody > tr > td
    border-color:#FAFBFC;
  .ant-table-thead > tr > th, .ant-table-wrapper
    border-color:#F6F7F9;
  th
    font-weight:bold !important
    background-color:white !important;
  // 详情
  .dialog_main 
    div
      color: #3C4551;
    .ant-table-pagination
      margin-right: 20px !important;
    .title-content
      background-color:#F4F5F8;
    .q-btn__content i
      color: #CDCDD1;