

:root
  --q-color-panda-bg-1 $panda-bg-1
  --q-color-panda-bg-2 $panda-bg-2
  --q-color-panda-bg-3 $panda-bg-3
  --q-color-panda-bg-4 $panda-bg-4
  --q-color-panda-bg-5 $panda-bg-5
  --q-color-panda-bg-6 $panda-bg-6
  --q-color-panda-bg-7 $panda-bg-7
  --q-color-panda-bg-8 $panda-bg-8
  --q-color-panda-bg-9 $panda-bg-9
  --q-color-panda-bg1 $panda-dialog-bill


.bg-panda-bg-1
  background $panda-bg-1 !important
  background var(--q-color-panda-bg-1) !important

.bg-panda-bg-2
  background $panda-bg-2 !important
  background var(--q-color-panda-bg-2) !important
.bg-panda-bg-3
  background $panda-bg-3 !important
  background var(--q-color-panda-bg-3) !important
.bg-panda-bg-4
  background $panda-bg-4 !important
  background var(--q-color-panda-bg-4) !important
.bg-panda-bg-5   // 内容页背景色
  background $panda-bg-5 !important
  background var(--q-color-panda-bg-5) !important
.bg-panda-bg-6
  background $panda-bg-6 !important
  background var(--q-color-panda-bg-6) !important
.bg-panda-bg-7
  background $panda-bg-7 !important
  background var(--q-color-panda-bg-7) !important
.bg-panda-bg-8
  background $panda-dialog-bill !important
  background var(--q-color-panda-bg-8) !important
.bg-panda-bg-9
  background: white !important;

.bg-panda-bg1
  background $panda-bg-8 !important
  background var(--q-color-panda-bg1) !important

.bg-panda-dialog
  background $panda-table-border !important

.bg-panda-dialog-sh
  background $panda-diaolog-sh !important

.bg-panda-dialog-bill
  background $panda-diaolog-bill !important

//弹窗关闭按钮色调
.text-panda-dialog-close
  color $panda-dialog-close !important

.border-panda-bg-1
  borderColor $panda-bg-1 !important
  borderColor var(--q-color-panda-bg-1) !important

.text-panda-text-1
  color $panda-bg-1 !important
  color var(--q-color-panda-bg-1) !important

.text-panda-text-2
  color $panda-bg-2 !important
  color var(--q-color-panda-bg-2) !important

.text-panda-text-3
  color $panda-bg-3 !important
  color var(--q-color-panda-bg-3) !important
  
.text-panda-text-4
  color $panda-bg-4 !important
  color var(--q-color-panda-bg-4) !important

.text-panda-text-7
  color $panda-bg-7 !important
  color var(--q-color-panda-bg-7) !important

.text-panda-text-light
  color $panda-bg-8 !important
  color var(--q-color-panda-bg-8) !important

.text-panda-text-dark
  color $panda-bg-9 !important
  color var(--q-color-panda-bg-9) !important




/*小圆点 颜色 */
.panda-dot-success
  background  $panda-bg-2
.panda-dot-yellow
  background  $panda-color-dot-yellow
.panda-dot-red
  background  $panda-color-dot-red
.panda-dot-green
  background  $panda-color-dot-green

//注单查询 注单取消 文字颜色
.text-gold
  color: #ffba72

//文本颜色
.panda-text-red
  color red;

.panda-dot
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  // background: $panda-bg-2

.panda-dot-red
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background: $panda-color-dot-red

.panda-dot-success
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background: $panda-bg-2

// 全局面包屑文字色调
.panda-text-1 
  color $panda-text-1

.panda-text-2
  color $panda-text-2

.panda-text-red
  color red

.text-panda-text-grey
  color $text1 !important

.border-top
  border-top 1px solid $panda-bg-1

.border-bottom
  border-bottom 1px solid $panda-bg-1

.border-right
  border-right 1px solid $panda-bg-1

.border-1px
  border 1px solid  $panda-bg-4

.text-panda-text-dark
  color #000

.panda-a
  text-decoration  none
  color   $panda-color-primary

.panda-icon-white
  color: #fff;
  -webkit-text-fill-color: #fff;
.panda-icon-grey
  color: #636363;
  -webkit-text-fill-color: #636363;

.panda-icon-green
  color: #318270;
  -webkit-text-fill-color: #318270;

.panda-icon-green1
  color: #C4E3E4;
  -webkit-text-fill-color: #C4E3E4;

.panda-icon-blue
  color: #3263FF;
  -webkit-text-fill-color: #3263FF;

.panda-icon-hover:hover {
  color: $panda-bg-2;
  -webkit-text-fill-color: $panda-bg-2;
}

.panda-icon-help-like
 display inline-block
 height 12px
 width  12px
 background: #788299;
 border-radius: 6px;
 border-radius: 6px;
 color #fff
 line-height: 14px;
 text-align: center;
 span
   font-size: 12px;
   display: inline-block;
   transform: scale(0.8);

.p-center
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;

.panda-btn-toggle
  width: 175px;
  height: 50px;
  background: #EEF3FF;
  border-radius: 4px;
  border-radius: 4px;

//编辑页面
.select-left-border
  bottom: -7px; 
  right: 34px; 
  width: 1px; 
  height: 34px;
  background: $panda-bg-8;


//财务中心
.select-left-border-bet
  bottom: 2px; 
  right: 34px; 
  width: 1px; 
  height: 29px;
  background: $panda-bg-8;

.select-left-border-finance
  bottom: 0px; 
  right: 34px; 
  width: 1px; 
  height: 29px;
  background: $panda-bg-8;

// 首页搜索栏
.select-left-border1
  bottom: 1px; 
  right: 34px; 
  width: 1px; 
  height: 30px;
  background: $panda-bg-8;
  

// 费率input框
.select-left-border2
  bottom: 1px; 
  right: 34px; 
  width: 1px; 
  height: 38px;
  background: $panda-bg-8;

// 40px
.select-left-border3 {
  bottom: -10px;
  right: 34px;
  width: 1px;
  height: 38px;
  background: $panda-bg-8;
}

.select-left-border4 {
  bottom: 1px;
  right: 34px;
  width: 1px;
  height: 38px;
  background: $panda-bg-8;
}

.select-left-border5
  bottom: -5px; 
  right: 34px; 
  width: 1px; 
  height: 34px;
  background: $panda-bg-8;

.select-left-border-new
  bottom: -0px; 
  right: 34px; 
  width: 1px; 
  height: 29px;
  background: $panda-bg-8;

// 30px
.select-left-border6
  bottom: 1px; 
  right: 34px; 
  width: 1px; 
  height: 28px;
  background: $panda-bg-8;

// 影藏图标
.no-show{
  // opacity 0;  
  visibility hidden
}
